body {
  font-family: 'Roboto', sans-serif;
}

.blogs-nav {
  justify-content: space-between;
}

.blogs-nav__home-link {
  display: inline;
  color: #47CFAC;
  text-decoration: none;
}

.news {
  padding: 1.5rem 0;
  background-color: #E0E3EA;
}

.section-title {
  font-size: 2.3rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: .1rem;
}

/* GRID */
.main-news {
  margin-top: 1.5rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr auto;
  gap: 1rem;
}

/* ITEM 1 flex */
.main-news__text-content {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.post__title {
  font-size: 1.6rem;
  letter-spacing: .1rem;
}

.post__title_soft-grey {
  color: rgb(59, 59, 59);
}

.main-news__title {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

/* puede repetirse */
.content {
  font-size: 1.5rem;
}

.main-news__content {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: .1rem;
}

.post-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.link-content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  background-color: rgb(46, 160, 67);
  border-radius: 0.3rem;
}

.main-news__link {
  align-self: stretch;
  justify-self: start;
}

.blogposts {
  padding: 1.5rem 0;
}

.post-img__rounded {
  border-radius: 3px;
}

.blogposts__title {
  text-align: center;
}

.blogposts__title::after {
  content: '';
  border-bottom: 2px solid rgb(114, 112, 112);
  width: 70%;
  display: block;
  margin: 0 auto;
  margin-top: .5rem;
  margin-bottom: 3rem;
}

.blogposts__container {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.post::after {
  content: '';
  border-bottom: 1px solid rgb(201, 196, 196);
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: .5rem;
}

.post__content {
  display: none;
}

.post__link {
  height: 4rem;
  width: 10rem;
}

/* @media (min-width: 425px) {
  .w_70pc-center {
    width: 70%;
    margin: 0 auto;
  }
} */

@media (min-width: 500px) {
  .blogpost__resize-container {
    width: 93%;
    margin: 0 auto;
  }

  .blogposts__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }

  .post-img__rounded {
    flex-basis: 150px;
  }

  .post__title_18 {
    font-size: 1.8rem;
  }

  @media (min-width: 550px) {
    .main-news {
      width: 93%;
      margin: 0 auto;
      grid-auto-flow: row;
      grid-template-columns: 1fr 1fr;
      gap: 1.5rem;
    }

    .main-news__title {
      font-size: 2.5rem;
    }

    .main-news__text-content {
      width: 100%;
      align-self: center;
    }

    .main-news__content {
      font-size: 1.8rem;
    }

    .link-content {
      font-size: 1.8rem;
    }
  }

  @media (min-width: 768px) {
    .blogposts__container {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .post__content {
      display: block;
      font-weight: 300;
      font-size: 1.7rem;
    }

    .post__title_20 {
      font-size: 2rem;
    }

    .post {
      gap: 1rem;
    }
  }

  @media (min-width: 1000px) {
    .main-news__text-content {
      gap: 2.5rem;
    }

    .main-news {
      gap: 5rem;
    }
  }

  @media (min-width: 1200px) {
    .blogposts__container {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

  }

}
