.w_80p {
	width: 80%;
	margin: 0 auto;
}

.w_90p {
	width: 90%;
	margin: 0 auto;
}

.w_93p {
	width: 93%;
	margin: 0 auto;
}

.min-width_320px {
	min-width: 32rem;
}

.max-width_1200px {
	max-width: 1200px;
	/* margin: 0 auto; */
}

/* imagen de un post */
/* post pequenio, main, individual */
.post-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* titulo de seccion */
/* blog, blogs, ... */
.section-title {
  font-family: 'Roboto', sans-serif;
  font-size: 2.3rem;
	font-weight: 700;
  letter-spacing: .1rem;
}

.post__title {
  font-size: 1.6rem;
  letter-spacing: .1rem;
}