/* HEADER styles */
.header {
  background-color: #47cfac;
  min-height: 5rem;
	display: flex;
	align-items: center
}

.header__icons-container {
	display: flex;
	justify-content: center;
}

.icons {
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 3rem;
}

.icon_white {
	color: #FFF;
}

/* NAV styles */
.nav {
	min-height: 8rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav__links-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav__logo {
	width: 200px;
}

.nav__link {
	display: none;
	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
	font-weight: 500;
	color: #565656;
	text-decoration: none;
	border-bottom: 4px solid #FFF;
}

.nav__links-container .nav__link:hover {
	border-bottom-color: #47cfac;
}

.nav__link:active {
	color: #47cfac;
}

@media (min-width: 425px) {
	.header__icons-container {
		justify-content: flex-end;
	}

	.nav__links-container {
		justify-content: space-between;
	}

	.nav__links-container .nav__link {
		display: block;
	}
}