/* HEADER styles */
.header {
  background-color: #47cfac;
  min-height: 5rem;
	display: flex;
	align-items: center
}

.w_93pc-center {
	width: 93%;
	margin: 0 auto;
}

.w_90pc-center {
	width: 90%;
	margin: 0 auto;
}

.w_80pc-center {
	width: 80%;
	margin: 0 auto;
}

.w-1200 {
	max-width: 1200px;
	margin: 0 auto;
}

.header__icons-container {
	display: flex;
	justify-content: center;
}

.icons {
	height: auto;
	display: flex;
	justify-content: space-evenly;
	gap: 3rem;
	align-items: center;
}

.icon_white {
	color: #FFF;
}

/* NAV styles */
.nav {
	min-height: 8rem;
	display: flex;
	align-items: center;
}

.nav__links-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav__logo {
	width: 200px;
}

.nav__links-container {
	justify-content: space-between;
}

.nav__links-container .nav__link {
	font-size: 2rem;
	font-family: 'Roboto';
	font-weight: 500;
	text-decoration: none;
	color: #565656;
	border-bottom: 3px solid #FFF;
}

.nav__links-container .nav__link:hover {
	border-bottom-color: #47cfac;
}

@media (min-width: 425px) {
	.header__icons-container {
		justify-content: flex-end;
	}

}