* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: 'Roboto Mono', monospace;
}

a {
	text-decoration: none;
	color: #000;
}

.container {
	display: flex;
	flex-flow: column;
	min-width: 32rem;
	height: 100%;
}

.header.header_flex {
	background-color: #47cfac;
}

.header_flex {
	flex: 0 0 5rem;
	display: flex;
	align-items: center;
}

.w_1266-center {
	width: 90%;
	margin: 0 auto;
}

.header__icons-container {
	display: flex;
	justify-content: center;
}

.icons {
	height: auto;
	display: flex;
	justify-content: space-evenly;
	gap: 3rem;
	align-items: center;
}

.icon_white {
	color: #FFF;
}

.nav.nav_flex {
	flex: 0 0 8rem;
	display: flex;
	align-items: center;
}

.nav__links-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav__logo {
	width: 200px;
}

.nav__link {
	display: none;
	font-size: 2rem;
	font-weight: 700;
	text-decoration: underline;
}

.main.main_flex {
	flex: 1 1 auto;
}

.main {
	background-image: url(./../assets/img/back-cover.png);
	background-repeat: no-repeat;
	/* background-position: 50% 30%; */
	background-position: center;
	background-size: cover;
}

.main-container {
	width: 90%;
	height: 95%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 6rem;
}

.title {
	font-family: 'Roboto mono', monospace;
	font-size: 3rem;
	font-weight: 700;
	line-height: 3rem;
	text-align: center;
	letter-spacing: 1rem;
	color: #FFF;
}

.main-container .nav__link {
	display: block;
	font-weight: 700;
	font-family: 'Roboto mono', monospace;
	font-size: 2.5rem;
}

.nav__link_white {
	color: #FFF;
}

.main-button {
	width: 12rem;
	padding: 1rem;
	background-color: #47cfac;
	border: none;
	border-radius: .5rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 2rem;
	text-align: center;
}

@media (min-width: 375px) and (orientation: landscape) {
	.main-container {
		height: 100%;
		justify-content: space-around;
	}
}

@media (min-width: 425px) {

	.header__icons-container {
		justify-content: flex-end;
	}

	.nav__links-container .nav__link {
		display: inline;
	}

	.nav__links-container {
		justify-content: space-between;
	}

	.main-container {
		height: 68%;
	}

	.main-container .nav__link {
		display: none;
	}
}

@media (min-width: 768px) {
	.main-container {
		gap: 12rem;
	}
}

@media (min-width: 1024px) {
	.main-container {
		gap: 18rem;
	}

	.title {
		font-size: 4rem;
		line-height: 5rem;
	}

	.main-button {
		width: 17rem;
		padding: 2rem;
		font-size: 2.5rem;
	}
}


@media (min-width: 1157px) {
	.main-container {
		width: 60%;
	}
}

/*

@media (max-width: 715px) {

	.header__icons-container {
		justify-content: center;
	}

	.nav__links-container {
		justify-content: space-around;
	}

	.main-container {
		width: 95%;
		gap: 4rem;
	}

}

@media (max-width: 420px) {

	.nav__link {
		display: none;
	}

	.nav__links-container {
		justify-content: center;
	}

	.title {
		margin-top: 5rem;
	}

	.main-container .nav__link {
		display: block;
	}

}

/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Slab', serif; 

*/
